NEXT_PUBLIC_API_URL=https://api.staging.llmate.ai/v1/studio
NEXT_PUBLIC_STREAM_URL=https://stream.staging.llmate.ai/v1/studio
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_KEYCLOAK_BASE_URL=https://heimdall.staging.llmate.ai/realms/llmate
NEXT_PUBLIC_EMBED_API_URL=https://api.staging.llmate.ai/v1/embed
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=llmate-chat-app
NEXT_PUBLIC_INTERCOM_APP_ID=fl0oapxz
NEXT_PUBLIC_MIXPANEL_TOKEN=eb658c2f3054a820f1ab496269bc3d51

ASSISTANT_ID=6731b0270d690703b2317b43
USER_API_KEY=37da52c0-00b5-4638-9859-ae98ed776eaf